﻿@model IEnumerable<WebPdfExport.Models.Employee>

@{
    Layout = null;
}

<style>
    .cell-border-1 {
        border-width: 1px;
        border-style: solid;
        border-color: black
    }

    .cell-border-1 {
        border-width: 1px;
        border-style: solid;
        border-color: black
    }

    .cell-font-1 {
        font-weight: bold;
        padding-left: 5px;
    }

    .cell-left {
        text-align: left;
    }

    .table-data-employee tr td {
        padding-left: 5px;
        padding-right: 5px;
        border-spacing: 0px;
    }

    .table-data-employee {
        border-spacing: 0px;
    }
  
</style>
<div>
        <table class="table-data-employee">
            <tr>
                <th class="cell-border-1 cell-font-1">
                    First Name
                </th>
                <th class="cell-border-1 cell-font-1">
                    Last Name
                </th>
            </tr>
            @foreach(var emp in Model)
            {
                <tr>
                    <td class="cell-border-1 ">
                        @emp.FirstName
                    </td>
                    <td class="cell-border-1 ">
                        @emp.LastName
                    </td>
                </tr>

            }
        </table>
       
</div>

   
