﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-10">
    </div>
    <div class="col-lg-10">
        Click button to download pdf
    </div>
    <div class="col-lg-10">
        <form asp-action="DownloadSimpleTextPdf" method="post">

            <div class="form-group">
                <input type="submit" value="Export text sample pdf" class="btn btn-primary" />
            </div>


        </form>
    </div>
    <div class="col-lg-10">
        <form asp-action="DownloadEmployeePdf" method="post">

            <div class="form-group">
                <input type="submit" value="Download Html pdf sample" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

