﻿@{
    ViewData["Title"] = "reCaptcha Demo";
}
@using (Html.BeginForm("DemoRecaptcha", "Home", FormMethod.Post))
{
    <div class="g-recaptcha" data-sitekey="6LdkSz8UAAAAAMmVaydX2uC7-kLRUgc0_gOzwyyS"></div>
    <br>
    <input type="submit" value="Submit" />
}
@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
}